.button {
  display: flex;
  justify-content: center;
  padding: 12px 24px;
  background: none;
  outline: none;
  border: 0;
  border-radius: 8px;
  color: white;
  background-color: darkblue;
  cursor: pointer;
  position: relative;
  min-height: 48px;
}

.button:disabled {
  opacity: 0.5;
}

.button:hover {
  background-color: blueviolet;
}

.button .loader-item {
  background-color: white;
}
